$h1-font-size:48;
$h2-font-size:42;
$h3-font-size:28;
$h4-font-size:20;
$h5-font-size:14;
$h6-font-size:12;
$green:#7fb848;
$blue:#006994;
$green-400:#FAFFF4;
$gray-600:#808080;
$gray-400:#F1F1F1;
$text-muted:$gray-600;
$theme-colors: ("dark": #1A1A1A,
  "white":#fff,
  "blue" : $blue);


$body-color:#000;
$font-family-base:'Montserrat',
sans-serif;
$font-weight-base:500;
$enable-responsive-font-sizes: true;
$btn-border-radius: 8px;
$border-radius-sm:8px;
$btn-font-size:14px;
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

.w-65{
  width: 65%;
}
.btn-success{
  color:#fff;
}
.bg-green-400 {
  background-color: $green-400
}
.border-green-400 {
  border-color: $green-400
}

.bg-gray-400 {
  background-color: $gray-400
}
.border-gray-400 {
  border-color: $gray-400
}

table thead {
  border-bottom: 1px solid $green;
}

table thead th {
  font-size: $h5-font-size + px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-transform-none{
  text-transform: none;
}
.line-height-inherit{
  line-height: inherit;
}
.line-height-sm{
  line-height: 14px;
}
.line-height-lg{
  line-height: 24px;
}
.line-height-xl{
  line-height: 36px;
}

.font-size-24{
  font-size: 1.5rem;
}

.cursor-pointer{
 cursor: pointer;
}

.font-weight-medium{
  font-weight: 500;

}
@include media-breakpoint-up(md){
  .w-md-auto{
    width: auto !important;
  }
  .md-h5{
    font-size: 0.875rem;
  }
  .md-h4{
    font-size: 1.25rem;
  }
  .md-h3{
    font-size: 1.75rem;
  }
  .md-h2{
    font-size: 2.625rem;
  }
  .font-weight-md-medium{
    font-weight: 500 !important;
  }
  .text-md-center{
    text-align: center !important;
  }
}


.viewer-one-to-one, .viewer-reset, .viewer-prev, .viewer-play, .viewer-large, .viewer-next, .viewer-rotate-left, .viewer-rotate-right, .viewer-flip-horizontal, .viewer-flip-vertical {
  display: none !important;
}